@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;800&display=swap');

/* Main Display */
.app{
  overflow: hidden;
  font-size: clamp(10px, .8em, 16px);
}

.app-container{
  background-color: #EBF2F9;
  align-items: center;
  justify-content: center;
  height:100%;
  max-height: 94vh;

  width: 100%;
  max-width: 85vw;

  align-self: flex-start;
  padding: 2em;
}

*{
  transition: all 0.3s;
  font-family: 'Montserrat', sans-serif;
  color: #0B0136;
}

.logger{
  background-color: rgba(205, 205, 205, .65);
  color: #FFFFFF;
  padding: 8px;
  border-radius: 8px;
  position:absolute;
  bottom: 0;
  z-index: 9999;
}

body{
  background-color: #EBF2F9;
  margin: 0;
  padding: 0;
}

.scrollable{
  overflow-y: auto;
}

/*Font Color*/
.font-light{
  color: #FFFFFF;
}

.font-indigo{
  color: #3F00FF;
}

.font-disabled{
  color: #808080;
}

.font-error{
  color: #FF0000;
}

/* Font Weight */
.font-bold{
  font-weight: 800;
}

.font-semibold{
  font-weight: 600;
}

.font-regular{
  font-weight: 400;
}

/* Font Size */

.font-diminute{
  font-size: .6em
}

.font-small{
  font-size: .8em
}

.font-medium{
  font-size: 1em
}

.font-large{
  font-size: 2em
}

.font-gigantic{
  font-size: 3em
}

.font-decoration-none{
  text-decoration: none;
}

/* Font styles? */
.font-italic{
  font-style: italic;
}

/* Font Wrapping */

.font-wrap{
  text-wrap: wrap;
}




/* Flex */
.flex{
  display: flex;
}

.flex-column{
  flex-direction: column;
}

.flex-row{
  flex-direction: row;
  align-items: center;
}

.flex-center{
  justify-content: center;
  align-items: center;
}

.flex-space-between{
  justify-content: space-between;
}

.flex-space-around{
  justify-content: space-around;
}

.hidden{
  display: none;
}

/*Gaps*/
.gap-1{
  gap: 8px;
}

/*Images*/

.icon{
  max-width: 32px;
  max-height: 32px;
}

.icon-mini{
  max-width: 16px;
  max-height: 16px;
}

.trademark{
  width: 16em;
}

.logo{
  width: 100%;
  height: 100%;

  max-width: 128px;
  max-height: 64px;

  object-fit: contain;
  margin: 8px;
}

.big{
  max-width: 256px;
  max-height: 128px;
}

.logo-mini{
  width: 100%;
  height: 100%;

  max-width: 64px;
  max-height: 32px;

  object-fit: contain;
  margin: 8px;
}




/* Labels */
.background-label{
  border-radius: 8px;
  padding: 8px;
  background-color: rgba(205, 205, 205, .35);
}

/* Margins */
.margin-0{
  margin: 0;
}
.margin-1{
  margin: 4px;
}
.margin-top-3{
  margin-top: 16px;
}

.margin-right-1{
  margin-right: 4px;
}

.margin-bottom-1{
  margin-bottom: 1em;
}

/* Alignments */
.text-left{
  text-align: left;
}

.self-left{
  align-self: flex-start;
}