.navigator-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    background-color: #ffffff;

    width: 100%;
    max-width: 20vw;
    height: 100%;
}

.navigator-icon{
    width: 1.5rem;
    height: 1.5rem;
}

.navigator-link{
    padding: 1rem .5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
}

.navigator-link:visited{
    color: #0B0136;    
}

.navigator-link:hover{
    background-color: #C9C9C9;
    cursor: pointer;
}

.navigator-link .navigator-link-active{
    background-color: #170175   ;
}