.new-enterprise-form{
    display: flex;
    flex-direction: column;
    background-color: white;

    overflow-y: scroll;

    gap: 16px;
    padding: 16px;
}

.enterprise-logo-preview-container{
    padding: 32px;

    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 16px;

    margin-right: 16px;

    flex: 1;
    border-radius: 8px;
    border: 2px solid #170175;
}

.enterprise-logo-preview-inner-container{
    width: 100%;
    height: 100%;

    align-items: center;
    justify-content: center;
    display: flex;

    border-radius: 8px;
    border: 2px dashed black;
}

.enterprise-logo-preview{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.enterprise-logo-input{
    display: none;
}

.enterprise-logo-label{
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.enterprise-dual{
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 2;
}

.enterprise-form-section{
    display: flex;
    flex-direction: column;
    gap: 8px;

    margin-top: 16px;
}