.login-container{
    background-color: #EBF2F9;
    background-image: url("https://uploads-ssl.webflow.com/65384f64fc0a1608e6828a1c/65565005af7bb36d7c40783d_Sign%20Up.svg");
    display:flex;
    flex-direction: row;
    height: 100%;
}

.login-form-container{
    display: flex;
    flex-direction: column;
    align-content: left;
    justify-content: center;
    padding: 2em 4em;
    background: #FFFFFF;
    width: 60em;
    box-shadow: 0 0 4em 1em rgba(0, 0, 0, 0.2);
}

.login-hero-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}