.enterprise-branch-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 8px;
    justify-content: center;
    margin-top: 8px;

    max-height: 15em;

    overflow-y: auto;
}

.enterprise-branch-card-grid::-webkit-scrollbar {
    width: 8px;
    background-color: rgba(0, 0, 0, 0);;
}

.enterprise-branch-card-grid::-webkit-scrollbar-thumb {
    background-color: blue;
    border-radius: 4px;
}

.new-branch-button{
    width: 20%;
    height: 100%;

    background-color: #F2F2F2;
}